.dark-bg {
  background-color: $dark-bg;
  color: $grey;

  .page-title,
  .section-title {
    color: $white;
  }

  .section-lable {
    color: rgba(157, 164, 189, 0.6);
  }

  .btn {
    color: $white;
  }
}
