.contacts {
  background-image: url(../../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  @include for-size(desktop) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.contacts-item {
  position: relative;
  padding-left: 40px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
}

.contacts-item:nth-child(1)::before {
  background-image: url(../../images/map-pin.svg);
}

.contacts-item:nth-child(2)::before {
  background-image: url(../../images/Shape.svg);
}

.contacts-item:nth-child(3)::before {
  background-image: url(../../images/mail.svg);
}

.worktime {
  margin-top: 70px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .contacts .section-title {
    width: 100%;
  }

  .address,
  .worktime {
    width: calc((100% - 30px) / 2);
  }

  .worktime {
    margin-top: 0;
  }
}
