.team {
  background-color: $light-grey;
}

.team-item {
  text-align: center;
  width: 100%;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  @include for-size(desktop) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.team-position {
  font-size: 14px;
  line-height: 1.357;
  color: $accent-cl;
  text-align: center;
}
